{
  "app": "python3 app.py",
  "watch": {
    "include": ["**"],
    "exclude": ["cdk.out", "__pycache__", "**/__pycache__", "*.egg-info"]
  },
  "context": {
    "@aws-cdk/aws-lambda:recognizeLayerVersion": true,
    "@aws-cdk/core:checkSecretUsage": true,
    "@aws-cdk/core:target-partitions": ["aws", "aws-cn"],
    "@aws-cdk/aws-ec2:uniqueImdsv2TemplateName": true,
    "@aws-cdk/aws-iam:minimizePolicies": true,
    "@aws-cdk/aws-lambda:recognizeVersionProps": true
  }
}
