from __future__ import annotations

import aws_cdk as cdk

from stacks.__PKG___stack import __PROJECT__Stack

app = cdk.App()

__PROJECT__Stack(
    app,
    "__PROJECT__Stack",
    description="__PROJECT__ — backend GenAI serverless",
    env=cdk.Environment(
        account=app.node.try_get_context("account") or cdk.Aws.ACCOUNT_ID,
        region=app.node.try_get_context("region") or cdk.Aws.REGION,
    ),
)

app.synth()
